Repository AzureLocal/azurelocal-loadtools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-powershell, validate-config, pester-tests, build-docs

lint-powershell:
  stage: validate
  image: mcr.microsoft.com/powershell:7.4-ubuntu-22.04
  script:
  - pwsh -Command "Install-Module PSScriptAnalyzer -Force -Scope CurrentUser"
  - pwsh -File tests/PSScriptAnalyzer.ps1 -ProjectRoot $CI_PROJECT_DIR

validate-config:
  stage: validate
  image: python:3.12-slim
  script:
  - pip install pyyaml
  ...

pester-tests:
  stage: test
  image: mcr.microsoft.com/powershell:7.4-ubuntu-22.04
  script:
  - pwsh -Command "Install-Module Pester -Force -Scope CurrentUser -MinimumVersion 5.0"
  - pwsh -Command "Install-Module powershell-yaml -Force -Scope CurrentUser"
  ...

build-docs:
  stage: docs
  image: asciidoctor/docker-asciidoctor
  script:
  - asciidoctor-pdf -a pdf-theme=docs/themes/azurelocal-theme.yml -o docs/output/azurelocal-loadtools.pdf docs/main.adoc
  - asciidoctor -o docs/output/index.html docs/main.adoc
  artifacts:
    paths:
    - docs/output/
    expire_in: 30 days

Add CODEOWNERS file for @kristopherjturner
  .github/CODEOWNERS
Due: none

Add standards docs, AsciiDoc reference, and pre-release notice to README
  README.adoc
  docs/standards/asciidoc-reference.adoc
  docs/standards/documentation-standards.adoc
  docs/standards/scripting-standards.adoc
  docs/standards/variables-environment-standards.adoc
Due: none

docs: restructure to standalone tool-centric architecture with badges
  README.adoc
  docs/chapters/06-vmfleet-guide.adoc
  docs/chapters/07-additional-tools.adoc
  docs/getting-started/architecture.adoc
  docs/getting-started/configuration.adoc
  docs/getting-started/installation.adoc
  docs/getting-started/introduction.adoc
  docs/getting-started/prerequisites.adoc
  docs/index.adoc
  docs/main.adoc
  docs/operations/ci-cd.adoc
  docs/operations/credential-management.adoc
  docs/reference/cmdlet-reference.adoc
  docs/reference/glossary.adoc
  docs/reference/variable-reference.adoc
  docs/standards/asciidoc-reference.adoc
  docs/standards/badge-standards.adoc
  docs/standards/documentation-standards.adoc
  docs/standards/scripting-standards.adoc
  docs/standards/variables-environment-standards.adoc
  docs/tools/fio/overview.adoc
  docs/tools/hammerdb/overview.adoc
  docs/tools/iperf/overview.adoc
  docs/tools/stress-ng/overview.adoc
  docs/tools/vmfleet/deployment.adoc
  docs/tools/vmfleet/monitoring.adoc
  docs/tools/vmfleet/overview.adoc
  docs/tools/vmfleet/prerequisites.adoc
  docs/tools/vmfleet/reporting.adoc
  docs/tools/vmfleet/troubleshooting.adoc
  docs/tools/vmfleet/workload-profiles.adoc
Due: build-docs

fix: add fetch-depth: 0 to checkout step for drawio-export-action
  .github/workflows/build-docs.yml
Due: none

feat: GitHub Project & Repo Standardization (Plan 1)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/add-to-project.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  CONTRIBUTING.md
  project_management/README.md
  release-please-config.json
Due: none

fix: remove old AsciiDoc build-docs.yml workflow
  .github/workflows/build-docs.yml
Due: none

fix: pin actions/add-to-project to v1.0.2
  .github/workflows/add-to-project.yml
Due: none

docs: add footer branding, social links, copyright (#3) and dev warning (#9)
  docs/index.md
  mkdocs.yml
Due: build-docs

infra: add label-to-project-field mapping in add-to-project workflow
  .github/workflows/add-to-project.yml
Due: none

fix: update Solution field option IDs after Toolkit option added to Project #3
  .github/workflows/add-to-project.yml
Due: none

feat: add central variables.example.yml and gitignore variables.yml (issue #15)
  .gitignore
  config/variables.example.yml
Due: validate-config

ci: add JSON Schema and update validate-config workflow
  .github/workflows/validate-config.yml
  config/schema/variables.schema.json
Due: none

docs: rename and rewrite variable reference to docs/reference/variables.md
  docs/reference/variable-reference.md
  docs/reference/variables.md
  mkdocs.yml
Due: none

infra: establish unified project-wide standards (issue #14)
  .github/pull_request_template.md
  .github/workflows/validate-repo-structure.yml
  CONTRIBUTING.md
  docs/standards/badge-standards.md
  docs/standards/documentation-standards.md
  docs/standards/scripting-standards.md
  docs/standards/variables-environment-standards.md
Due: none

docs: canonical 9-file standards, replace legacy filenames
  docs/standards/automation.md
  docs/standards/badge-standards.md
  docs/standards/documentation-standards.md
  docs/standards/documentation.md
  docs/standards/examples.md
  docs/standards/index.md
  docs/standards/infrastructure.md
  docs/standards/naming.md
  docs/standards/scripting-standards.md
  docs/standards/scripting.md
  docs/standards/solutions.md
  docs/standards/variables-environment-standards.md
  docs/standards/variables.md
  mkdocs.yml
Due: none

chore: add site/ to .gitignore
  .gitignore
Due: none

chore(standards): standardize variables.md canonical reference header
  docs/standards/variables.md
Due: none

chore(standards): standardize all 9 docs/standards files to be identical across repos
  docs/standards/automation.md
  docs/standards/documentation.md
  docs/standards/examples.md
  docs/standards/index.md
  docs/standards/infrastructure.md
  docs/standards/naming.md
  docs/standards/scripting.md
  docs/standards/solutions.md
  docs/standards/variables.md
Due: none

fix: make set-fields resilient to add-to-project failures
  .github/workflows/add-to-project.yml
Due: none

docs: fix governance reference paths
  project_management/README.md
Due: none

infra: update add-to-project workflow with all 22 solution mappings
  .github/workflows/add-to-project.yml
Due: none

fix: use action output for item ID, fix stale solution field option IDs
  .github/workflows/add-to-project.yml
Due: none

feat: add unique project ID field automation (LOAD-N prefix)
  .github/workflows/add-to-project.yml
Due: none

feat: VMFleet load testing implementation
  .psscriptanalyzer.psd1
  CHANGELOG.md
  config/profiles/vmfleet/sequential-throughput.yml
  config/schema/variables.schema.json
  config/variables.example.yml
  docs/getting-started/prerequisites.md
  docs/themes/azurelocal-theme.yml
  docs/tools/vmfleet/deployment.md
  docs/tools/vmfleet/monitoring.md
  docs/tools/vmfleet/prerequisites.md
  docs/tools/vmfleet/reporting.md
  docs/tools/vmfleet/troubleshooting.md
  docs/tools/vmfleet/workload-profiles.md
  examples/sample-aggregate-results.json
  examples/sample-metrics.jsonl
  examples/sample-per-vm-results.json
  monitoring/queries/vmfleet-iops.kql
  monitoring/queries/vmfleet-latency.kql
  monitoring/workbooks/vmfleet-workbook.json
  project_management/plan-vmfleetFullImplementation.prompt.md
  src/infrastructure/Prepare-VMFleetBaseImage.ps1
  tests/PSScriptAnalyzer.ps1
  tests/Prepare-VMFleetBaseImage.Tests.ps1
  tests/VMFleet-Scripts.Tests.ps1
Due: lint-powershell, validate-config, pester-tests

docs: fix stale src/ paths, move examples/ and project_management/ to tools/vmfleet/, remove redundant root logs/ tool dirs
  README.adoc
  docs/getting-started/architecture.md
  docs/getting-started/configuration.md
  docs/operations/credential-management.md
  docs/standards/solutions.md
  docs/tools/fio/overview.md
  docs/tools/hammerdb/overview.md
  docs/tools/iperf/overview.md
  docs/tools/stress-ng/overview.md
  docs/tools/vmfleet/monitoring.md
  docs/tools/vmfleet/reporting.md
  docs/tools/vmfleet/troubleshooting.md
  logs/fio/.gitkeep
  logs/hammerdb/.gitkeep
  logs/iperf/.gitkeep
  logs/stress-ng/.gitkeep
  logs/vmfleet/.gitkeep
  tools/vmfleet/examples/sample-aggregate-results.json
  tools/vmfleet/examples/sample-metrics.jsonl
  tools/vmfleet/examples/sample-per-vm-results.json
  tools/vmfleet/project_management/README.md
  tools/vmfleet/project_management/plan-vmfleetFullImplementation.prompt.md
Due: none

chore: remove leftover root logs/ subdirs (monitoring, reports, pipeline)
  logs/monitoring/.gitkeep
  logs/pipeline/.gitkeep
  logs/reports/.gitkeep
Due: none

chore: restore logs/ directory with .gitkeep
  logs/.gitkeep
Due: none

chore: restore logs/monitoring, logs/pipeline, logs/reports subdirs
  logs/monitoring/.gitkeep
  logs/pipeline/.gitkeep
  logs/reports/.gitkeep
Due: none

chore: remove GitLab CI
  .gitlab-ci.yml
Due: none

docs: six-phase documentation redesign
  docs/architecture/data-flow.md
  docs/architecture/overview.md
  docs/architecture/tool-selection.md
  docs/getting-started/architecture.md
  docs/getting-started/introduction.md
  docs/index.md
  docs/operations/runner-setup.md
  docs/operations/troubleshooting.md
  docs/reference/tool-comparison.md
  docs/roadmap.md
  docs/tools/fio/installation.md
  docs/tools/fio/monitoring.md
  docs/tools/fio/overview.md
  docs/tools/fio/reporting.md
  docs/tools/fio/troubleshooting.md
  docs/tools/fio/workload-profiles.md
  docs/tools/hammerdb/installation.md
  docs/tools/hammerdb/monitoring.md
  docs/tools/hammerdb/overview.md
  docs/tools/hammerdb/reporting.md
  docs/tools/hammerdb/troubleshooting.md
  docs/tools/hammerdb/workload-profiles.md
  docs/tools/iperf/installation.md
  docs/tools/iperf/monitoring.md
  docs/tools/iperf/overview.md
  docs/tools/iperf/reporting.md
  docs/tools/iperf/troubleshooting.md
  docs/tools/iperf/workload-profiles.md
  docs/tools/stress-ng/installation.md
  docs/tools/stress-ng/monitoring.md
  docs/tools/stress-ng/overview.md
  docs/tools/stress-ng/reporting.md
  docs/tools/stress-ng/troubleshooting.md
  docs/tools/stress-ng/workload-profiles.md
  mkdocs.yml
Due: build-docs

docs: align nav structure with sofs/avd pattern
  mkdocs.yml
Due: none

feat(config): add missing tool variables to variables.example.yml
  config/variables.example.yml
Due: validate-config

docs: restructure tools section for standalone test clarity
  docs/assets/images/.gitkeep
  docs/getting-started/architecture.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/introduction.md
  docs/getting-started/prerequisites.md
  docs/index.md
  docs/operations/ci-cd.md
  docs/tools/fio/index.md
  docs/tools/fio/overview.md
  docs/tools/hammerdb/index.md
  docs/tools/hammerdb/overview.md
  docs/tools/index.md
  docs/tools/iperf/index.md
  docs/tools/iperf/overview.md
  docs/tools/stress-ng/index.md
  docs/tools/stress-ng/overview.md
  docs/tools/vmfleet/index.md
  docs/tools/vmfleet/overview.md
  mkdocs.yml
Due: build-docs

docs: restore under active development warning to index
  docs/index.md
Due: build-docs

docs: replace ASCII art with draw.io diagrams
  docs/architecture/data-flow.md
  docs/architecture/overview.md
  docs/assets/diagrams/config-flow.drawio
  docs/assets/diagrams/data-flow-monitoring.drawio
  docs/assets/diagrams/data-flow-results.drawio
  docs/assets/diagrams/solution-architecture.drawio
  docs/assets/diagrams/vmfleet-workflow.drawio
Due: none

docs: collapse tool sidebar sections with navigation.indexes and prune
  mkdocs.yml
Due: none

fix: add README.md and remove legacy AsciiDoc files
  README.adoc
  README.md
  docs/_archived_adoc/getting-started/architecture.adoc
  docs/_archived_adoc/getting-started/configuration.adoc
  docs/_archived_adoc/getting-started/installation.adoc
  docs/_archived_adoc/getting-started/introduction.adoc
  docs/_archived_adoc/getting-started/prerequisites.adoc
  docs/_archived_adoc/index.adoc
  docs/_archived_adoc/main.adoc
  docs/_archived_adoc/operations/ci-cd.adoc
  docs/_archived_adoc/operations/credential-management.adoc
  docs/_archived_adoc/reference/cmdlet-reference.adoc
  docs/_archived_adoc/reference/glossary.adoc
  docs/_archived_adoc/reference/variable-reference.adoc
  docs/_archived_adoc/standards/asciidoc-reference.adoc
  docs/_archived_adoc/standards/badge-standards.adoc
  docs/_archived_adoc/standards/documentation-standards.adoc
  docs/_archived_adoc/standards/scripting-standards.adoc
  docs/_archived_adoc/standards/variables-environment-standards.adoc
  docs/_archived_adoc/themes/azurelocal-theme.yml
  docs/_archived_adoc/tools/fio/overview.adoc
  docs/_archived_adoc/tools/hammerdb/overview.adoc
  docs/_archived_adoc/tools/iperf/overview.adoc
  docs/_archived_adoc/tools/stress-ng/overview.adoc
  docs/_archived_adoc/tools/vmfleet/deployment.adoc
  docs/_archived_adoc/tools/vmfleet/monitoring.adoc
  docs/_archived_adoc/tools/vmfleet/overview.adoc
  docs/_archived_adoc/tools/vmfleet/prerequisites.adoc
  docs/_archived_adoc/tools/vmfleet/reporting.adoc
  docs/_archived_adoc/tools/vmfleet/troubleshooting.adoc
  docs/_archived_adoc/tools/vmfleet/workload-profiles.adoc
Due: none

Path conditions:
  lint-powershell: any of: src/**/*.ps1, src/**/*.psm1, tests/**/*.ps1
  validate-config: any of: config/**
  pester-tests: any of: src/**, tests/**
  build-docs: any of: docs/**
